git+git://github.com/repole/mqlalchemy@dev#egg=MQLAlchemy
git+git://github.com/repole/drowsy@dev#egg=drowsy
sqlalchemy>=1.3
flask
marshmallow
marshmallow_sqlalchemy
requests
inflect
click
cheroot
pycaw
